body{
	padding-top: 70px;
}
.toc_section li{
	list-style-type: square;
}
.output{
	position: fixed;
	top: 70px;
	width: 40%;
}
#copyEd{
	display: none;
}
.toc_title{
	font-weight: bold;
	font-size: 16px;
	color: #101010;
}
.toc_title:hover{
	text-decoration: none;
	cursor: default;
	color: inherit;
}